body, html{
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	background:#9294fd;
	color:#FFF;
}

.container{
	margin-right: auto;
	margin-left: auto;
	width:300px;
	text-align: center;
}

.container h1{
	font-weight: 800;
	font-size: 24px;
	margin: 120px auto 80px auto;
}

.container .bookmarklet{

}

.container .bookmarklet a{

}
